.contactMeContainer {
    background-color: #242424;
    color: #fff;
    scroll-margin-block-start: 80px;
    margin-bottom: 50px;
}

.contactWrapper {
    display: flex !important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    padding: 0 !important;
}

.contactMeContainer h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 42px;
}

.contactNumber,
.emailAddress,
.github,
.LinkedIn{
    /* box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    background: #242424;
    padding: 24px 8px; */
    /* margin-bottom: 60px !important; */
}

.contactInfoItem {
    display: grid;
    gap: 60px !important;
    padding: 20px 0;
}

.contactNumber svg,
.emailAddress svg,
.github svg,
.linkedIn svg {
    background: darkgoldenrod;
    border-radius: 50%;
    padding: 12px;
    color: beige;
}

.contactMeContainer h3 {
    margin: 4px 0 8px 0;
    color: #242424;
}

.contactNumber div,
.emailAddress div {
    color: beige;
    font-size: 20px;
}

.github a,
.linkedIn a {
    color: darkslateblue;
    /* font-size: 20px; */
    text-decoration: none;
}

.contactFormContainer {
    display: grid;
    /* justify-content: center; */
    background: #fff;
    color: #000;
    /* width: 500px; */
    height: 100%;
}

.contactFormContainer .name,
.contactFormContainer .email,
.contactFormContainer .message {
    display: grid;
    gap: 16px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.contactForm {
    display: grid;
    /* justify-content: center; */
    gap: 24px;
    padding: 40px 60px;
}

.contactFormContainer input,
.contactFormContainer textarea {
    /* width: 90%; */
    /* height: 50px; */
    padding: 16px;
    font-size: 18px;
    font-family: sans-serif;
}

.contactFormContainer label {
    font-size: 20px;
}

.contactFormContainer button {
    background: rgb(38, 166, 154);
    padding: 8px 20px;
    font-size: 18px;
}

.contactInfoWrapper {
    background-image: url(https://th.bing.com/th/id/R.f7153d8…?rik=aV0h%2b%2b0JLd85iw&riu=http%3a%2f%2f3.bp.blogspot.com%2f-mH0wsxCyqDo%2fTxwXftCkiJI%2fAAAAAAAATJI%2fwbkVOK-NJvA%2fs320%2fGoldenButter.jpg&ehk=0Yq1DjhW5MYCH%2bDVVldK7t62MMgJ5vgYSM%2b%2fiSHHBig%3d&risl=&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: GRID;
    align-content: center;
    background-position: center;
    max-height: 620px;
}